<div id="cart">
  <button onclick="location.href='index.php?route=checkout/cart&language=en-gb'" type="button" data-toggle="dropdown" data-loading-text="{{ text_loading }}" class="btn btn-inverse btn-block btn-lg dropdown-toggle"><i class="fas fa-shopping-cart"></i> <span id="cart-total">{{ text_items }}</span></button>
</div>
